.rails-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
  margin: 0 auto;
  margin-top: 20px;
}
.rails {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;

  justify-content: center;
}
.rail-box {
  width: 210px;
  height: 110px;
}

.rails > div {
  margin-right: 10px;
  padding: 10px;
}

::-webkit-scrollbar {
  width:0px;
}
.pos-abs {
    position: absolute;
    z-index: 999999;
}
@media (max-width: 576px) {

    .rail-box {
        width: 65px;
        height: 100px;
    
      }
      .rails-container {
       
        margin-top:-10px;
        position: relative;
        z-index: 99999;
      }

}