.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}
.logo {
  width: 15%;
}
.nav-bar {
  width: 50%;
}
.search-bar {
  width: 25%;
}
.sign-in {
  width: 10%;
}
.txt-link {
  color: #838991;
  margin-right: 20px;
}

.txt-link-active {
  color: #ffffff;
  font-weight: 600;
}
@media (max-width: 991px) {
  .logo {
    width: 30%;
  }
  .nav-bar {
    display: none;
  }
  .search-bar {
    width: 50%;
  }
  .sign-in {
    width: 20%;
  }
}
@media (max-width: 576px) {
  .logo {
    width: 40%;
  }
  .nav-bar {
    display: none;
  }
  .search-bar {
    width: 60%;
  }
  .sign-in {
    display: none;
  }
}
